<div class="about-the-site">
  <div class="container">
    <p class='blurb'>
    <strong><a href="{{ base }}">{{ site.title }}</a></strong> is a collection of cheatsheets I've written over the years.
      Suggestions and corrections? <a href='https://github.com/rstacruz/cheatsheets/issues/907'>Send them in</a>.
      <i class='fleuron'></i>
      I'm <a href="http://ricostacruz.com">Rico Sta. Cruz</a>. 
      Check out my <a href="http://ricostacruz.com/til">Today I learned blog</a> for more.
    </p>

    {% if page.url != '/index.html' %}
    <p class='back'>
      <a class='big-button -back -slim' href='.#toc'></a>
    </p>
    {% endif %}

    <p>
    </p>
  </div>
</div>
