$gutter: 32px;
$column: 400px;

$system-font: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$body-font: $system-font;
$monospace-font: 'fira mono', Consolas, menlo, 'Andale Mono', 'Ubuntu Mono', monospace;

$body-bg: #f1f3f5;
$gray-bg: #fcfcfc;
$gray-text: #678;
$text-color: #333;
$baseA-400: #53a;
$baseB-400: #35a;
$baseB-600: adjust-color($baseB-400, $lightness: 20%, $hue: -20deg);
$line-color: rgba(50, 80, 150, 0.05);
$dark-line-color: rgba(50, 80, 150, 0.14);

$modularscale: (
  base: 14px, ratio: 1.2,
  480px: (base: 13px, ratio: 1.15),
  768px: (base: 14px, ratio: 1.17),
  1280px: (base: 14px, ratio: 1.2)
);

@import './utils/modularscale';
@import './utils/font-size';
@import './base/base';
@import './markdown/headings';
@import './markdown/table';
@import './components/h2-section';
@import './components/h3-section-list';
@import './components/h3-section';
