/*
 * Base carbon ads style
 */

@mixin carbon-style {
  .carbon-img,
  .carbon-text,
  .carbon-poweredby {
    text-decoration: none;
  }

  // Increase hit area
  .carbon-text,
  .carbon-poweredby {
    padding-top: 4px;
    padding-bottom: 4px;
  }

  .carbon-img > img {
    width: 83px; // 13:10 ratio
    height: 64px;
    box-shadow: $shadow3;
    border-radius: 3px;
    background: rgba($gray-text, 0.2);
    color: transparent;
  }

  .carbon-img:hover img {
    transform: translate3d(0, -1px, 0);
    box-shadow: $shadow6;
  }

  .carbon-text,
  .carbon-text:visited {
    color: $base-text;
  }

  // Allow line breaks
  .carbon-text::after {
    content: '  ';
  }

  .carbon-text:hover,
  .carbon-poweredby:hover {
    color: $base-b;
  }

  .carbon-poweredby,
  .carbon-poweredby:visited {
    white-space: nowrap;
    color: $gray-text;
  }
}
