@mixin heading-style {
  margin: $gut;
  padding: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  margin-top: 64px;
  border-bottom: solid 1px $dark-line-color;

  @media (max-width: 768px) {
    margin: $gut;
    margin-bottom: 8px;
    margin-top: 32px;
    padding-bottom: 8px;
  }

  @media (max-width: 480px) {
    margin: $gut-small;
    margin-bottom: 8px;
    margin-top: 32px;
    padding-bottom: 8px;
  }
}
