---
type: website
---
{% include 2017/head.html %}

{% include 2017/top-nav.html page=page %}

<div class='SideAd'>
  <script async src='//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=ricostacruzcom' id="_carbonads_js"></script>
</div>

<div class='body-area -slim'>
  <div class='site-header'>
    <h1>
      Rico's cheatsheets
    </h1>
    <p>
      Hey! I'm <a href='https://ricostacruz.com'>@rstacruz</a> and this is a
      modest collection of cheatsheets I've written.
    </p>
    <form data-js-search-form class='search-box search'>
      <input type='text' placeholder='Search...' autofocus data-js-search-input>
    </form>
  </div>

  <div class='pages-list'>
    {% for page in site.pages %}
      {% if page.tags contains 'Featured' %}
        {% include 2017/pages-list-item.html page=page class='item top-sheet' %}
      {% endif %}
    {% endfor %}

    {% for category in site.category_names %}
      <h2 class='category item' id='{{ category | downcase | replace: " ", "-" }}' data-js-searchable-header>
        <span>{{ category }}</span>
      </h2>

      {% for page in site.pages %}
        {% if page.category == category %}
          {% include 2017/pages-list-item.html page=page class='article item' %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  </div>
</div>

{% include 2017/foot.html %}
