<!doctype html>
<html class='NoJs' lang='en'><head>

{% assign featured_pages = site.pages
  | where_exp: "page", "page.tags contains 'Featured'"
%}
{% assign recent_pages = site.pages
  | where_exp: "page", "page.updated"
  | sort: "updated", "first"
%}
{% include 2017/head.html critical='home' %}

</head><body class='UseCompactHeader HighlightPubFirstLine'>

{% include 2017/top-nav.html page=page is_home=true noedit=true noback=true %}

<div class='body-area -slim'>
  <div class='site-header' role='banner'>
    <h1>
      {{ site.data.content.home.title }}
    </h1>
    <p>
      {{ site.data.content.home.tagline }}
    </p>

    {% include 2017/search-form.html live=true %}

    {% if site.data.carbon.enabled %}
      <div class='pubbox'>
        {% include 2017/headline-pub.html %}
      </div>
    {% endif %}
  </div>

  <div class='pages-list' role='main'>
    {% for page in featured_pages %}
      {% include 2017/pages-list-item.html page=page class='item top-sheet' %}
    {% endfor %}

    <h2 class='category item' data-js-searchable-header>
      <span>Recently updated</span>
    </h2>

    {% for page in recent_pages reversed %}
      {% if forloop.index <= 18 %}
        {% include 2017/pages-list-item.html page=page class='article item' %}
      {% endif %}
    {% endfor %}


    {% for category in site.data.categories.names %}
      <h2 class='category item' id='{{ category | downcase | replace: " ", "-" }}' data-js-searchable-header>
        <span>{{ category }}</span>
      </h2>

      {% for page in site.pages %}
        {% if page.category == category %}
          {% if page.title %}
            {% include 2017/pages-list-item.html page=page class='article item' %}
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}

    <div class='message item missing-message'>
      <h3>See something missing?</h3>
      <p>
        <a class='push-button' href='{{ site.github.repository_url }}/issues/907'>Request cheatsheet</a>
      </p>
    </div>
  </div>
</div>

{% include 2017/announcements-list.html %}

{% include 2017/foot.html %}
</body>
</html>
