<!doctype html>
<html lang='en'><head>

{% include 2017/head.html %}

</head><body>

{% include 2017/top-nav.html page=page noshare=true %}

<div class='body-area -slim'>
  <div class='site-header'>
    <h1>{{ site.data.content.not_found.title }}</h1>
    <p>{{ site.data.content.not_found.description }}</p>

    {% include 2017/search-form.html %}

    <p class='action'>
      <a class='push-button' href='./'>{{ site.data.content.not_found.home }}</a>
    </p>
  </div>
</div>

{% include 2017/foot.html %}

</body>
</html>
