---
type: article
---
{% include 2017/head.html %}

{% include 2017/top-nav.html page=page %}

<div class='body-area'>
  <header class='main-heading {% if page.ads != false %}-with-ads{% endif %}'>
    <h1 class='h1'>{{ page.title }} <em>cheatsheet</em></h1>
    {% if page.ads != false %}
      <div class='HeadlineAd ad'>
        <script async src='//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=ricostacruzcom' id="_carbonads_js"></script>
      </div>
    {% endif %}
  </header>

  {% if page.tags contains 'WIP' %}
    <aside class='notice-box'>
      This page is a work in progress. You can help by <a href='{{ site.github.repository_url }}/blob/gh-pages/{{ page.path | remove: '.html' }}'>suggesting edits</a>!
    </aside>
  {% endif %}

  <main class='post-content MarkdownBody' data-js-main-body>
    {{ content }}
  </main>
</div>

<div class='pre-footer'><i class='icon'></i></div>

{% if site.disqus_host %}
{% include 2017/comments-area.html page=page %}
{% endif %}

{% include 2017/search-footer.html %}
{% include 2017/related-posts.html page=page %}
{% include 2017/foot.html %}
