{% include 2017/head.html %}

{% include 2017/top-nav.html page=page %}

<div class='body-area'>
  <header class='main-heading -center'>
    <h1 class='h1'>{{ page.title }} <em>{{ site.data.content.sheet.suffix }}</em></h1>

    <div class='adbox'>
      {% if site.data.codesponsor.enabled %}
      <div class='code-sponsor ad -codesponsor'>
        <span>Also recommended:</span>
        <div id='code-sponsor-widget'></div><script src='https://app.codesponsor.io/scripts/{{ site.data.codesponsor.id }}?theme=light&image=hide&height=100&width=330'></script>
      </div>
      {% endif %}

      {% if site.data.carbon.enabled %}
        <div class='HeadlineAd ad -carbon'>
          <script async src='{{ site.data.carbon.src }}' id="_carbonads_js"></script>
        </div>
      {% endif %}
    </div>
  </header>

  {% if page.tags contains 'WIP' %}
    <aside class='notice-box'>
      This page is a work in progress. You can help by <a href='{{ site.github.repository_url }}/blob/gh-pages/{{ page.path | remove: '.html' }}'>suggesting edits</a>!
    </aside>
  {% endif %}

  <main class='post-content MarkdownBody' data-js-main-body>
    {{ content }}
  </main>
</div>

<div class='pre-footer'><i class='icon'></i></div>

{% include 2017/comments-area.html page=page %}
{% include 2017/search-footer.html %}
{% include 2017/related-posts.html page=page %}
{% include 2017/foot.html %}
