.site-header {
  margin: 32px 0;

  & > p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: $base-mute;
  }

  & > p > a {
    text-decoration: none;
  }

  & > h1 {
    @include font-size(8);
    line-height: 1.2;
    margin: 0;
    padding: 0;
    color: $base-head;
    font-weight: 200;
    text-align: center;
    margin-bottom: 16px;
  }

  & > .search {
    margin-top: 32px;
  }

  & > .action {
    margin-top: 32px;
  }

  & > .adbox {
    margin: 16px auto;
  }

  @media (max-width: 480px) {
    & > .adbox {
      margin-left: -16px;
      margin-right: -16px;
    }
  }
}
