/*
    content: '';
 * Spacer before footer
 */

.pre-footer {
  & {
    padding: 32px;
    padding-top: 24px;
    padding-bottom: 48px;
    text-align: center;
  }

  & > .icon {
    color: $base-mute;
    opacity: 0.25;
  }

  & > .icon > svg {
    display: inline-block;
    vertical-align: middle;
  }
}
