/*
 * Search bar around the footer
 */

.search-footer {
  & {
    @include section-with-container;
    padding-top: 16px;
    padding-bottom: 16px;
    background: $gray-bg;
    border-top: solid 1px $dark-line-color;
    border-bottom: solid 1px $dark-line-color;
  }
}

.search-footer-section {
  & {
    display: flex;
  }

  & > .search {
    flex: 0 1 640px;
  }

  & > .links {
    @include gutter(padding-left);
    flex: 0 1 auto;
    margin-left: auto;
  }
}
