  .article-content pre, .with-footnote pre , .panorama-section pre , .article-content > .panorama-section pre  {
    /*max-width: 900px; */
  }
  .article-content pre > code, .with-footnote pre > code, .panorama-section pre > code, .article-content > .panorama-section pre > code {
    overflow: auto;
    font-size: 0.85em;
    margin-left: -30px;
    margin-right: -30px;
  }

  .article-headline h1:after {
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background: #ddd;
    margin: 40px auto;
  }

  .hljs-keyword, .hljs-builtin {
    font-weight: normal;
    color: #050505;
  }

  .article-content h2 a,
  .article-content h3 a,
  .article-content h4 a,
  .article-content h2 a:visited,
  .article-content h3 a:visited,
  .article-content h4 a:visited {
    color: #111;
  }
