.pages-list {
  font-size: 0.9em;
  max-width: 800px;
  margin: 60px auto;
  overflow: hidden;
}
.pages-list a {
  display: block;
  padding: 6px 0;
  text-align: left;
  float: left;
  width: 44%;
  margin: 0 3%;
  box-shadow: none;
  transition: all 100ms linear;
}
.pages-list a .title,
.pages-list a .date {
  display: block;
}
.pages-list a .title {
  font-weight: bold;
  color: #111;
  float: left;
}
.pages-list a .date {
  color: #aaa;
  font-size: 0.9em;
  float: right;
}
.pages-list a:hover .title,
.pages-list a:focus .title {
  color: dodgerblue;
}
