/*
 * Base
 */

html, body {
  background: $body-bg;
  font-family: $body-font;
  font-size: 14px;
  line-height: 1.6;
  color: $text-color;
}

body {
  @include font-size(0);
  padding: 8px;
  margin: 0 auto;
}

/*
 * Layout
 */

@media (min-width: 481px) {
  body {
    padding: 16px;
    max-width: $column * 3 + 32px;
  }
}

/*
 * Code
 */

pre, code {
  font-family: $monospace-font;
  letter-spacing: -0.03em;
}

pre {
  font-size: 0.92em;
}

/*
 * Antialias
 */

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
 * Links
 */

a {
  color: $baseB;
}

a:visited {
  color: $baseB7;
}

a:hover {
  color: $baseB3;
}
