$bounce: cubic-bezier(0.75, -0.5, 0, 1.75);

/*
/* "Preloader":
 * This makes the content semi-transparent before the page ad loads.
 */

.post-content {
  html.WithJs & {
    opacity: 0;
  }
}

/*
 * Defer "loading" until page's onload event fires.
 * (The page actually already loaded, we just pretend like it hasn't)
 */

.pages-list,
.post-content.-wrapified,
.intro-content {
  html.WithJs & {
    opacity: 0.98;
  }

  html.WithJs.LoadDone & {
    opacity: 1;
    transition: opacity 100ms linear 100ms;
  }
}
