{% comment %}
Params:
- noshare
- noedit
- noback
{% endcomment %}
<nav class='top-nav' data-js-no-preview role='navigation'>
  <div class='container'>
    {% unless include.page.noback %}
      <div class='left'>
        <a class='home back-button' href='{{base}}'></a>
      </div>
    {% endunless %}

    <a class='brand' href='{{base}}'>
      {{ site.data.content.top_nav.title }}
    </a>

    {% unless include.noshare %}
      <div class='actions'>
        {% include social-list.html class="social page-actions" page=include.page %}

        {% unless include.noedit %}
          <ul class='page-actions'>
            <li class='link github -button hint--bottom' data-hint='{{ site.data.content.top_nav.edit_on_github }}'>
              <a href='{{ site.github.repository_url }}/blob/master/{{ page.path | remove: '.html' }}'>
                <span class='text -visible'>{{ site.data.content.top_nav.edit }}</span>
              </a>
            </li>
          </ul>
        {% endunless %}
      </div>
    {% endunless %}
  </div>
</nav>
