/*
 * MarkdownBody context
 */

.MarkdownBody h2 {
  @include heading-style;
  @include font-size(6);
  line-height: 1.2;
  font-weight: 200;
  font-family: $heading-font;
  margin-top: 0;

  &:target {
    color: $base-a;
  }
}

.MarkdownBody h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: $heading-font;
  @include font-size(2);
  font-weight: 400;
  color: $base-a;
}

.MarkdownBody {
  a,
  a:visited {
    color: $base-b;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  em {
    font-style: normal;
    color: $gray-text;
  }

  iframe {
    border: 0;
    margin: 0;
    width: 100%;
  }
}
