.attribute-peg {
  & {
    display: inline-block;
    height: 12px;
    width: 20px;
    text-align: center;
  }

  & > span {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: saturate(lighten(#5a8, 16%), 24%);
    border-radius: 50%;
  }
}
