.code-sponsor {
  & {
    text-align: center;
  }

  /* Prelude */
  & > .prelude {
    display: block;
    @include font-size(-1);
    color: lighten($gray-text, 20%);
    text-align: center;
    margin-bottom: -8px;
    font-weight: normal;
    user-select: none;
  }

  & > div > iframe {
    display: inline-block;
    opacity: 0.7;
  }
}
