.code-sponsor {
  & {
    text-align: center;
    position: relative;
    height: 130px;
    overflow: hidden;
  }

  /* Prelude */
  & > .prelude {
    position: relative;
    z-index: 5;
    display: block;
    @include font-size(-1);
    color: lighten($gray-text, 20%);
    text-align: center;
    font-weight: normal;
    user-select: none;
  }

  & > .prelude > a,
  & > .prelude > a:visited {
    text-decoration: none;
    color: lighten($gray-text, 20%);
  }

  & > .prelude > a:hover,
  & > .prelude > a:focus {
    color: $gray-text;
  }

  /* Compensate padding to put it next to prelude */
  & > div {
    position: relative;
    z-index: 1;
    margin-top: -16px;
  }

  /* Extra line between prelude and ad? */
  & > .prelude + div {
    margin-top: -8px;
  }

  & > div > iframe {
    display: inline-block;
    opacity: 0.9;
    transition: opacity 150ms linear;
  }

  & > div:hover > iframe {
    opacity: 1;
  }
}
