/*
 * Carbon ads
 *
 *     .headline-ad
 *       #carbonads
 *         span
 *           span.carbon-wrap
 *             a.carbon-img > img
 *           a.carbon-text {description}
 *           a.carbon-poweredby {powered by Carbon}
 */

.HeadlineAd {
  @include font-size(-1);
  @include carbon-style;

  & {
    display: inline-block;
  }

  &,
  & > div > span {
    min-width: 130px + 16px + 64px;
    max-width: 400px;
    height: 100px;
  }

  & > div > span {
    display: inline-block;
    text-align: right;
  }

  & > div > span::after {
    content: '';
    display: table;
    clear: both;
    zoom: 1;
  }

  .carbon-img {
    float: right;
    margin-left: 16px;
  }
}
