.push-button {
  display: inline-block;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 3px;

  &,
  &:visited {
    background-color: $base-a;
    background: linear-gradient(
      to right,
      $base-a,
      adjust-color($base-a, $lightness: 2%, $hue: 16deg));
    color: white;
  }

  &:hover,
  &:focus {
    background: darken($base-a, 16%);
    box-shadow: none;
    color: white;
  }
}
