.SideAd {
  @include font-size(-1);
  @include carbon-style;

  @media (min-width: 961px) {
    position: absolute;
    right: 32px;
    top: 80px;
    width: 130px;
    text-align: right;

    .carbon-img {
      margin-bottom: 16px;
    }
  }

  @media (max-width: 960px) {
    & {
      margin: 16px auto;
      max-width: 300px;
    }

    &::after {
      content: '';
      display: table;
      clear: both;
      zoom: 1;
    }

    .carbon-img {
      float: left;
      margin-right: 16px;
    }
  }
}
