.top-nav {
  & {
    height: 64px;
    line-height: 64px;
    text-align: center;
    position: relative;
  }

  // Horiz line
  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 40%;
    right: 40%;
    bottom: 0;
    height: 1px;
    background: $dark-line-color;

    @media (max-width: 480px) {
      left: 0;
      right: 0;
    }
  }

  > .container {
    @include gutter(padding-left);
    @include gutter(padding-right);
    max-width: $area-width;
    margin: 0 auto;
  }
}

.top-nav > .container {
  & {
    display: flex;
    align-items: center;
    position: relative;
  }

  & > .left {
    flex: 0 0 auto;
    line-height: 32px;
  }

  & > .brand {
    flex: 1 1 auto;
  }

  & > .actions {
    flex: 0 0 auto;
    display: flex;
  }

  & > .brand {
    @include font-size(-1);
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-decoration: none;

    &,
    &:visited {
      color: $base-text;
    }

    &:hover {
      color: $base-a;
    }
  }

  @media (min-width: 481px) {
    & > .actions {
      position: absolute;
      @include gutter(right);
      top: (64px - 32px) / 2;
    }

    & > .left {
      position: absolute;
      @include gutter(left);
      top: (64px - 32px) / 2;
    }
  }

  // Home link
  & > .left > .home {
    text-decoration: none;

    &,
    &:visited {
      color: $base-mute;
    }

    &:hover,
    &:focus {
      color: $base-a;
    }
  }

  & > .left > .home::before {
    @include ion-icon('md-arrow-back');
    font-size: 16px;
  }
}
