/*
 * Callout
 */

.related-posts-callout {
  & {
    display: flex;
    text-decoration: none;
    background: $base-a-gradient;
    padding: 32px;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 2px;
    box-shadow: $shadow2;
    text-shadow: 0 1px 1px rgba(black, 0.2);
  }

  &,
  &:visited {
    color: white;
  }

  &:hover,
  &:focus {
    background: darken($base-a, 8%);
  }

  & > .text {
    margin: auto;
    text-align: center;
  }

  & > .text > .icon {
    margin-bottom: 16px;
    display: block;
  }

  & > .text > .icon::before {
    content: '';
    @include ion-ios-arrow-back(48px, adjust-color($base-a, $lightness: 16%, $hue: 20deg));
    height: 64px;
    width: 64px;
    border: solid 2px adjust-color($base-a, $lightness: 16%, $hue: 20deg);
    border-radius: 50%;
    text-indent: -2px;
    text-shadow: none;
  }

  & > .text > .description {
    @include font-size(1);
    line-height: 1.4;
    font-weight: 300;
    display: block;
    margin-bottom: 16px;
  }
}
