---
type: article
---
{% include head.html %}
{% include site-header.html %}

<div class='post-list -single -cheatsheet'>
  <div class='post-item'>
    {% include social-list.html page=page class="-collapse" %}

    <div class='post-headline -cheatsheet'>
      <p class='prelude'><span></span></p>
      <h1><span>{{ page.title }}</span></h1>
    </div>

    {% if site.data.carbon.enabled %}
      <div class='headline-pub'>
        <script async src='{{ site.data.carbon.src }}' id="_carbonads_js"></script>
      </div>
    {% endif %}

    <div class='post-content -cheatsheet'>
      {{ content }}
    </div>

    {% include social-list.html page=page %}
  </div>
</div>

{% include foot.html %}
