---
type: article
---
{% include head.html %}
{% include site-header.html %}

{% include 2017/article-schema.html page=page %}

<div class='post-list -single -cheatsheet'>
  <div class='post-item'>
    <div class='post-headline -cheatsheet'>
      <p class='prelude'><span></span></p>
      <h1><span>{{ page.title }}</span></h1>

      <div class='pubbox'>
        {% include 2017/headline-pub.html %}
      </div>
    </div>

    <div class='post-content -cheatsheet'>
      {{ content }}
    </div>

    {% include social-list.html page=page %}
  </div>
</div>

{% include foot.html %}
