---
html_class: home
type: home
---
{% include head.html %}
{% include site-header.html %}

{% for category in site.data.categories.names %}
  <div class='pages-header'>
    <h2 id='{{ category | downcase | replace: " ", "-" }}'>{{ category }}</h2>
  </div>
  <div class='pages-list'>
    {% for page in site.pages %}
      {% if page.category == category %}
        <a href="{{base}}{{ page.url }}">
          <span class='title'>{{ page.title }}</span>
          <span class='date'>{{ page.url | remove: '.html' | remove: '/' }}</span>
        </a>
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}

{% if site.data.carbon.enabled %}
  <div class='side-ad'>
    <script async src='{{ site.data.carbon.src }}' id="_carbonads_js"></script>
  </div>
{% endif %}

{% include foot.html %}
