<aside class='code-sponsor' data-js-no-preview>
  <div id='code-sponsor-widget'></div>
  <script id='code-sponsor-embed'>;(function(d,id){
    if (window.localStorage && window.localStorage._NOADS) return
    var s=d.createElement('script'),r=d.getElementById(id)
    s.async=true
    s.src='https://app.codesponsor.io/scripts/{{ site.data.codesponsor.id }}?theme=light&image=hide&height=130&width=319'
    setTimeout(function(){r.parentNode.insertBefore(s,r)})
  })(document, 'code-sponsor-embed')</script>
</aside>
