{% assign identifier = include.page.url | remove: '.html' | remove_first: '/' %}
<section class='comments-area' id='comments'>
  <div class='container'>
    <details class='comments-details'>
      <summary>
        <strong class='count'>
          <span class='disqus-comment-count' data-disqus-identifier="{{ identifier }}" data-disqus-url='{{ site.url }}/{{ identifier }}'>Comments</span>
        </strong>
        <span class='suffix'>for this cheatsheet.</span>
        <span class='fauxlink'>Write yours!</span>
      </summary>
      <div class='comments-section'>
        <div class='comments'>
          <div id='disqus_thread'></div>
          <noscript data-js-disqus='{"host":"{{ site.disqus_host }}","url":"{{ site.url }}/{{ identifier }}","identifier":"{{ identifier }}"}'></noscript>
        </div>
      </div>
    </details>
  </div>
</section>

<script id='dsq-count-scr' src='//{{ site.disqus_host }}/count.js' async></script>
