{% include meta.html %}
{% include polyfills.html %}

<!-- critical css -->
{% if include.critical == 'home'
%}<style>{% include 2017/critical/home.css %}</style>{%
endif
%}{%
if include.critical == 'sheet'
%}<style>{% include 2017/critical/sheet.css %}</style>{%
endif %}

<!-- deferred css -->
<script>;(function(links){(requestAnimationFrame||mozRequestAnimationFrame||webkitRequestAnimationFrame||msRequestAnimationFrame||(function(fn){window.addEventListener('load',fn)}))(function(){var h=document.getElementsByTagName('head')[0],l,i;for (i=0;i<links.length;i++){l=document.createElement('link');l.rel='stylesheet';l.href=links[i];h.appendChild(l);}})})([
'https://fonts.googleapis.com/css?family=Cousine',
'{{base}}/assets/2017/style.css?t={{ timestamp }}'
])</script>
<noscript>
<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Cousine'>
<link rel='stylesheet' type='text/css' href='{{base}}/assets/2017/style.css?t={{ timestamp }}'>
</noscript>
