{% assign slug = include.page.url | remove: '.html' | remove_first: '/' %}
<a class='{{ include.class }} -item-{{ slug }}'
  href="{{base}}{{ include.page.url | remove: '.html' }}"
  data-js-searchable-item='{"slug":"{{ slug }}","category":"{{ include.page.category }}"}'>
  <span class='info'>
    <code class='slug'>{{ slug }}</code>

    {% if include.page.layout == '2017/sheet' %}
    <abbr class='attribute-peg -new-layout hint--bottom' data-hint='New layout!'><span></span></abbr>
    {% endif %}

    <span class='title'>{{ include.page.title }} {{ include.page.redirect_to }}</span>
  </span>
</a>
