{% assign category_pages = site.pages
  | where: "category", include.page.category
  | where_exp: "page", "page.url != include.page.url"
  | where_exp: "page", "page.deprecated != true"
  | where_exp: "page", "page.redirect_to == null"
  | sort: "weight", "last"
%}
{% assign top_pages = site.pages
  | where_exp: "page", "page.tags contains 'Featured'"
  | where_exp: "page", "page.url != include.page.url"
  | where_exp: "page", "page.deprecated != true"
  | sort: "weight", "last"
%}
<div class='related-posts'>
  <div class='container'>
    {% if include.page.category == 'Others' %}
      <h3>Other cheatsheets</h3>
    {% else %}
      <h3>Other {{ include.page.category }} cheatsheets</h3>
    {% endif %}

    <ul class='related-post-list'>
      {% for page in category_pages limit: 6 %}
        {% include 2017/related-posts-item.html page=page class='item related-post-item' %}
      {% endfor %}
    </ul>

    <h3>Top cheatsheets</h3>

    <ul class='related-post-list'>
      {% for page in top_pages limit: 6 %}
        {% include 2017/related-posts-item.html page=page class='item related-post-item' %}
      {% endfor %}
    </ul>
  </div>
</div>
