<nav class='top-nav'>
  <div class='container'>
    {% unless include.is_home %}
      <div class='left'>
        <a class='home back-button' href='{{base}}'></a>
      </div>
    {% endunless %}

    <a class='brand' href='{{base}}'>
      {{ site.data.content.top_nav.title }}
    </a>

    {% unless include.noshare %}
      <div class='actions'>
        {% include social-list.html class="social page-actions" page=include.page %}

        {% if include.page.type != 'website' %}
          <ul class='page-actions'>
            <li class='link github -button hint--bottom' data-hint='Edit this page on GitHub'>
              <a href='{{ site.github.repository_url }}/blob/gh-pages/{{ page.path | remove: '.html' }}'>
                <span class='text -visible'>Edit</span>
              </a>
            </li>
          </ul>
        {% endif %}
      </div>
    {% endunless %}
  </div>
</nav>
