@import url('https://unpkg.com/sanitize.css@5.0.0/sanitize.css');

:root {
  --gutter: 32px;
  --column: 400px;

  --body-font: roboto, sans-serif;
  --monospace-font: menlo, monospace;

  --gray-bg: #fcfcfc;
  --gray-text: #678;
  --text-color: #333;
  --baseA-400: #53a;
  --line-color: #f5f5f5;
  --dark-line-color: #ccc;
}

/*
 * Base
 */

html, body {
  background: #fcfcfc;
  font-family: var(--body-font);
  font-size: 14px;
  line-height: 1.6;
  color: var(--text-color);
}

body {
  padding: 16px;
  max-width: calc(var(--column) * 3 + 32px);
  margin: 0 auto;
}

pre, code {
  font-family: var(--monospace-font);
}

/*
 * MarkdownBody context
 */

.main-heading,
.MarkdownBody h1,
.MarkdownBody h2 {
  font-weight: 300;
  font-family: var(--body-font);
  margin: calc(var(--gutter) / 2);
  padding: 0;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: solid 1px var(--line-color);
}

.main-heading,
.MarkdownBody h1 {
  font-size: 3.2em;
}

.MarkdownBody h2 {
  font-size: 2.4em;
}

.MarkdownBody h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-family: var(--body-font);
  font-size: 1.66em;
  font-weight: 300;
  color: var(--baseA-400);
}

/*
 * h2 section
 */

/* Hide the first h2 heading */
.h2-section > h2 {
  margin-top: 64px;
}

.h2-section:first-child > h2 {
  display: none;
}

/*
 * H3 section list:
 * The body that is isotoped.
 */

.h3-section-list {
  margin: 0 auto;
}

.h3-section-list::after {
  content: '';
  display: table;
  clear: both;
  zoom: 1;
}
.h3-section-list > .h3-section {
  float: left;
  padding: calc(var(--gutter) / 2);
  width: 100%;
}

@media (min-width: 768px) {
  .h3-section-list > .h3-section {
    width: 50%;
  }

  .h3-section-list > .h3-section.-wide {
    width: 100%;
  }

  .h3-section-list > .h3-section.-halfwide {
    width: 100%;
  }
}

@media (min-width: 960px) {
  .h3-section-list > .h3-section {
    width: 33.33%;
  }

  .h3-section-list > .h3-section.-wide {
    width: 66.67%;
  }

  .h3-section-list > .h3-section.-halfwide {
    width: 50%;
  }
}

/*
 * H3 section
 */

.h3-section > .body > pre {
  margin: 0;
  padding: 16px;
  font-size: 12px;
  overflow: auto;
  background: white;
}

.h3-section > .body {
  background: white;
  box-shadow: 0 4px 5px rgba(80, 100, 150, 0.05), 0 2px 3px rgba(80, 100, 150, 0.1);  
}

.h3-section > .body > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.h3-section > .body > ul > li {
  padding: 8px 16px;
  padding-left: 32px;
  position: relative;
}

.h3-section > .body > ul > li::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 8px;
  height: 8px;
  background: #666;
  border-radius: 50%;
  left: 16px;
  top: 16px;
}

.h3-section > .body > ul > li + li {
  border-top: solid 1px var(--line-color);
}

/* Description paragraphs */
.h3-section > .body > pre ~ p,
.h3-section > .body > ul ~ p,
.h3-section > .body > table ~ p {
  padding: 16px;
  margin: 0;
  background: var(--gray-bg);
  color: var(--gray-text);
}

.h3-section > .body > p > a,
.h3-section > .body > p > a:visited {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: solid 1px var(--line-color);
}

.h3-section > .body > *:not(:first-child) {
  border-top: solid 1px var(--line-color);
}

/*
 * Table
 */

table {
  width: 100%;
}

table tr + tr {
  border-top: solid 1px var(--line-color);
}

/* Horizontal lines */
table tbody + tbody {
  border-top: solid 1px var(--dark-line-color);
}

table td,
table th {
  padding: 8px 16px;
}

table tr td:last-child {
  text-align: right;
}

table code {
  font-size: 0.86em;
  color: #35a;
}

table a,
table a:visited {
  color: #35a;
  text-decoration: none;
}

table code ~ em {
  font-style: normal;
  font-size: 0.86em;
  color: var(--gray-text);
}

table thead {
  display: none;
}
